footer{
    padding: 30px;
    margin-top: 200px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background: #02734A;
    
}

h5{
    
    color: #FFF;
    font-family: Teko;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.texto{
    margin-top: 20px;
    color: #FFF;
    font-family: Teko;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imgFooter{
    width: 84px;
    height: 82px;
    flex-shrink: 0;
    border-radius: 100px;
    background: url(../img/footer.png) 1;
}

.direitos{
    margin-top: 40px;
    color: #FFF;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Teko;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
